/* styles.css*

For the rock paper scissors website */

html, body, .container, .header  {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;   
     
}

.header {
    display: flex;
    background-color: rgb(43, 80, 92);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 125px;
      
}

.hero {
     
    font-size: 56px;
    color: white;
    font-family: 'Allerta Stencil'
}

.subhero {
    font-size: 28px;
    color: orange;
    font-family: 'Viga'
}

.container {
    display: flex;
    background-color:rgb(43, 80, 92);
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center'
 
}

.title {
    display: flex;
    font-family: "Allerta Stencil";
    font-size: 34px;
    justify-content: center;
    color:white;
    


}

button {
    width: 200px;
    height: 100px;
    font-size: 38px;
    background-color: goldenrod;
    border-color: (43, 80, 92); 
    border: solid 4px;
    font-family: 'Viga';
}

#text {
    text-align: center;
    padding-top: 30px;
     
}
.reset {
     
    align-self: center;
    
    width: 100px;
    height: 60px;
    font-size: 20px;
    display: none;
    font-family: 'Yellowtail';
    border-bottom: none;
    
    
}
.player, .computer {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
    gap: 80px;

}
.compChoice {
    display: flex;
    font-size: 38px;
    background-color: goldenrod;
    font-family: 'Viga';
    justify-content: center;
    align-items: center;
    transition: all 1s;
     
}

.highlighted {
    background-color: red;
    color: white; 
    border: solid 4px goldenrod;
}

.results {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
    
    
  
}

#roundresults {
    display: flex;
    flex-direction: column;
    border: solid 4px black;
    background-color: rgb(224, 194, 198);
    width: 350px;
    height: 200px;
    justify-content: space-between;
    font-size: 30px;
    font-family: Viga;
     
    
     
 
}
 
.tally {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
   

}
#pTally, #cTally {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 45px;
    background-color: goldenrod;
    font-size: 28px;
    font-family: 'Allerta Stencil';
    border: solid 4px;

}

*:disabled {
    background-color: goldenrod;
    color: black;
    border: solid 4px;
}

.compChoice {
    
    width: 200px;
    height: 100px;
    box-sizing: border-box;
    border: solid 4px;
    display: flex;
    font-size: 38px;
    background-color: goldenrod;
    font-family: 'Viga';
    justify-content: center;
    align-items: center;
     
}