/* styles.css*

For the rock paper scissors website */

html, body, .container, .header  {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;   
     
}

.header {
    display: flex;
    background-color: lightblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    height: 125px;
      
}

.hero {
     
    font-size: 48px;
    color: purple;
}

.subhero {
    font-size: 28px;
    color: orange;
}

.container {
    display: flex;
    background-color: goldenrod;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center'
 
}

title {
    color: white;
    color: #bd3434;
    background: ;

}

button {
    width: 200px;
    height: 100px;
    font-size: 38px;
    background-color: antiquewhite;
}

.player, .computer {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
    gap: 100px;

}

.results {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    align-items: center;
    justify-content: center;
    
  
}

.roundresults {
    display: flex;
    border: solid  purple;
    border-width: 8px;
    height: 150px;
    align-items: center;
    width: 200px;
    justify-content: center;
 
}
 
.tally {
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: solid  purple;
    border-width: 8px;
    border-width: 8px;

}
#pTally, #cTally {
    width: 60px;
    text-align: center;
    border: solid  purple;
    border-width: 8px;

}
.message {
    border: solid  purple;
    border-width: 8px;

}

.compChoice {
    background-color: whitesmoke;
    width: 200px;
    height: 100px;
    border: black;
    border-width: 8px;
}